<div class="container-fluid dashboard-container">
  <div class="row-fluid">
    <div class="span12">
      <div class="hero-unit">
        <h3>
          Welcome to Survey Hub!!!!!
        </h3>
        <p>
          Select the survey and join us. Your reply will help us to improve the things.
        </p>
      </div>
    </div>
  </div>

  <div class="span10 survey-grid">




    <table class="table table-striped">
      <tbody>
        <tr> <td>Mark</td> <td>Otto</td> <td>@mdo</td> </tr>
        <tr> <td>Jacob</td> <td>Thornton</td> <td>@fat</td> </tr>
        <tr> <td>Larry</td> <td>the Bird</td> <td>@twitter</td> </tr>
      </tbody>
    </table>
  </div>


</div>

